/********Base Styles ********/

header {
	background-color: red;
	text-align: center;
	text-shadow: 2px 2px white;
	font-size: 30px;
	border: 5px solid red;
	width: 250px;
	height: 150px;
	position: relative;
	left: 45%;

}

.container {
	float: left;
	width: 29%;
	padding: 30px 10px 30px 30px;
	margin-top: 50px;
	margin-right: 5px;
	border:  5px solid black;
	font-size: 20px;
	

}

.in_container{
	position:relative;
	left: 75%;
	margin-right: 80%;
	text-align: center;
	background-color: white;
	font-size: 20px;
	font-family: Arial;


}

#in_mutton {
	border: 5px solid darkblue ;
	width: 90px;
	margin-left: -10px;
	

	
}

#in_chicken{
	border: 5px solid darkgray;
	width: 100px;
	margin-left: -20px;
}

#in_beef {
	border: 5px solid darkgreen;
	width: 70px;
	margin-left: -10px;
}

#Mutton {
	background-color: lightblue;
	
}

#Chicken {
	background-color: lightgray;
}

#Beef {
	background-color: lightgreen;
}

/********Base Styles Ends********/

/***resposiveness for Large Devices only ***/
@media (min-width: 992px) {
	.container {
		width: 28%;
	}
	.in_container {
		position:relative;
		float:right;
		text-align: center;
		background-color: white;
		font-size: 20px;
		font-family: Arial;

	}
}

/***resposiveness for Medium Devices only ***/

@media (min-width: 768px) and (max-width: 991px) {
	
	.container {
	float: left;
	width: 29%;
	padding: 30px 10px 30px 30px;
	margin-top: 50px;
	margin-right: 5px;
	border:  5px solid black;
	font-size: 20px;
	}

	.in_container{
	position:relative;
	float: right;
	text-align: center;
	background-color: white;
	font-size: 20px;
	font-family: Arial;


}

	#Mutton {
		width:40%;
	}


	#Chicken {
		
		width:40%;
	}

	#Beef {
		width: 95%;
	}
	#in_beef {
		position:relative;
		left: 90%;
		margin-right: 99%;
		text-align: center;
		background-color: white;
		font-size: 20px;
		font-family: Arial;

	}
}

/***resposiveness for Mobile Devices only ***/

@media (max-width: 767px){

	header {
	background-color: red;
	text-align: center;
	text-shadow: 2px 2px white;
	font-size: 20px;
	border: 5px solid red;
	width: 150px;
	height: 90px;
	position: relative;
	left : 45%;
	}
	
	.container {
	float: left;
	width: 95%;
	padding: 30px 10px 30px 30px;
	margin-top: 50px;
	margin-right: 5px;
	border:  5px solid black;
	font-size: 20px;
	}

	.in_container{
	position:relative;
	
	float: right;
	text-align: center;
	background-color: white;
	font-size: 20px;
	font-family: Arial;
	}

	#Mutton {
		width:90%;
	}
	#Chicken {
		width: 90%;
	}
	#Beef {
		width: 90%;
	}



}
